@charset "UTF-8";

html,
body {
    height: 100%;
    background-color: cyan;
}


body {
    display: grid;
    place-items: center;
}


div#content {
    height: fit-content;
    border: 2px solid black;
    border-radius: 10px;
}


header {
    background-color: brown;
    padding: 1px;
    border-radius: 10px 10px 0 0;
    text-align: center;
    color: white;
    font-variant: small-caps;
    text-transform: uppercase;
}


main {
    background-color: white;
    height: 400px;
    overflow: auto;
    
    padding: 0 10px 10px 10px;
}


select {
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
}


label {
    display: block;
    width: fit-content;
    background-color: cyan;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
}

input[type='button'] {
    display: block;
    font-size: 1.2em;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}


div#calculo {
    position: sticky;
    top:0;
    background-color: aqua;
    border-radius: 0 0 10px 10px;
    padding: 10px;
}

footer {
    text-align: center;
    background-color: rgb(225, 92, 92);
    padding: 1px;
    border-radius: 0 0 10px 10px;
}